<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.baemin.mapper.ODetailMapper">
		
	
	<update id="insertODetail" parameterType="hashmap">
		INSERT 	INTO
		 o_detail (cart_no, odr_no)	
		VALUES 
	<foreach collection="cartList" item="item" separator=", ">
		(#{item.cartNo}, #{odrNo})
	</foreach>
	</update>
	
	
	<resultMap id="oDetailResultMap" type="ODetail">
		<id property="oDtlNo" column="o_dtl_no" />
		<result property="cartNo" column="cart_no" />
		<result property="odrNo" column="odr_no" />
	</resultMap>
</mapper>	



